@model tftChampTraitViewer.Models.Champion

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Champion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChampName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChampName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChampGender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChampGender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChampOrigin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChampOrigin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChampClass)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChampClass)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChampCost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChampCost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChampRange)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChampRange)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChampPosition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChampPosition)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
